<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的相册</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    ul{
      list-style: none;
    }
    .photo{
      float: left;
      margin-left:10px; 
    }
    h3{
      text-align: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">我的相册</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/toUpload">上传图片</a>
          </li>
          <li><a href="/newDir">新建相册</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <ul>
      <% for(var i=0;i<dirs.length;i++){ %>
        <li class="photo">
          <a href="/show/<%= dirs[i] %>">
            <img src="/images/dir.jpg" width="100px">
          </a>
          <h3><%= dirs[i] %></h3>
          <a href="/del?dirName=<%=dirs[i]%>">删除</a>
          <!-- app.get('/del')
          req.query.dirName
          <a href="/del/<%=dirs[i]%>">删除</a>
          app.get('/del/:dirName')
          req.params.dirName -->
        </li>
      <% } %>
    </ul>
  </div>
</body>

</html>