<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
      //定义文本
      var msg = '大家好，我叫<%= name %>,我今年<%= age %>,我的工作室<%= work %>';
      var xm = {
          name:'小猫',
          age:22,
          work:'前端工程师'
      };
      //利用 正则表达式去匹配模板语法 替换成我们真正的数据
      //str.replace() reg.match();
      var  reg = /<%=\s*([^%>]+\S)\s*%>/g;
      var matches = msg.match(reg);
      console.log(matches);//["<%= name %>", "<%= age %>", "<%= work %>"]
     msg =  msg.replace(matches[0],xm.name);
     msg =  msg.replace(matches[1],xm.age);
     msg =  msg.replace(matches[2],xm.work);
     console.log(msg)
    </script>
</body>
</html>