<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改留言</title>
   <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
   <img src="/1.jpg" alt="" width=200>
   <!-- 根目录的引用用 / -->
    <form action="/update" method="POST">
        <input type="text" name="id" value="<%= msg._id %>" class="hide">
        <h3><%= msg.username %></h3>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="修改" class="btn btn-default">
    </form>
</body>
</html>