<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板上传头像</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
        <form action='/doUpload' method='POST' enctype="multipart/form-data">
            <div>
              <h3>选择上传图片：</h3>
              <input type="file" name="pic">
            </div>
            <button type="submit" class="btn btn-default">上传</button>
          </form>
</body>
</html>